<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Customer Churn Prediction</title>
        <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='assets/favicon.ico')}}" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{{url_for('static', filename='css/styles.css')}}" rel="stylesheet" />
    </head>
    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
            <div class="container px-4">
                <a class="navbar-brand" href="#page-top">Customer Churn Prediction</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item"><a class="nav-link" href="#about">About</a></li>
                        <li class="nav-item"><a class="nav-link" href="#services">Exploration</a></li>
                        <li class="nav-item"><a class="nav-link" href="#contact">Machine learning</a></li>
                        <li class="nav-item"><a class = "nav-link" href="#Conclusion">Conclusion</a></li>
                        <li class="nav-item"><a class="nav-link" href="#team">Team</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Header-->
        <header class="bg-primary bg-gradient text-white">
            <div class="container px-4 text-center">
                <h1 class="fw-bolder">Predicting the Customer churn in an Organization </h1>
                <p class="lead">A data science project by AI Camp Intern</p>
                <a class="btn btn-lg btn-light" href="#about">See our work below</a>
            </div>
        </header>
        <!-- About section-->
        <section id="about">
            <div class="container px-4">
                <div class="row gx-4 justify-content-center">
                    <div class="col-lg-8">
                      <h1>
                        Introduction
                      </h1>
                      <p class="lead">
                        One of the most important applications of data science in the commercial sector is churn prediction. Its popularity stems from the fact that its impacts are more tangible to comprehend, and it plays a significant role in the company's overall revenues.
                        <br><br>
                        Churn is described as "when a client cancels a subscription to a service they have been utilizing" in business terms. People canceling Spotify/Netflix memberships are a regular example. So, based on their utilization of the service, Churn Prediction is effectively projecting which clients are most likely to cancel a subscription, i.e. 'leave a company.'
<br><br>
From a business standpoint, obtaining this information is critical because recruiting new clients is generally more difficult and costly than retaining existing customers. As a result, the information acquired through Churn Prediction allows them to focus more on the customers who are most likely to leave.
                      </p>
                        <h2>What does the project do?
                        </h2>
                        <p class="lead">In our customer data set, there is information on their Credit Score, the country they live in, Gender, Age, Balance, Estimated Salary etc... that correlate with each other in interesting ways. 
                      <h4>
                        Goal
                      </h4>
                         <ul>- What features are significant in prediction the churn in a customer.
                           
                      </ul> 
                      <ul>
                          - To suggest measure in order to improve the retention rate with respect to customer category.
                      </ul>
                  <h4>
                    Now, looking at some characteristics of the dataset
                      </h4>
                   <ul>
                    - We have Age as the feature which affect be used to detect churn as the product might be useful for a particular age-group.
                  </ul>
                  <ul>
                    - Moreover, I believe Estimated Salary would one of the significant feature to detect churn as a user with less salary would not be a frequent buyer.
                  </ul>
                  <ul>
                    - Other than this, all the other features like Gender, Balance, Location, Tenure, credit card availability and credit would also contribute to the predict the churn
                  </ul><br>
                        <img src="{{url_for('static', filename='head.png')}}" class="page-image" height="150" width="900"/>

                  </p>
                    </div>
                </div>
            </div>
        </section>
        <!-- Services section-->
        <section class="bg-light" id="services">
            <div class="container px-4">
                <div class="row gx-4 justify-content-center">
                    <div class="col-lg-8">
                    <h1 id="top-level-heading">Exploration</h1><br/>
                    </div>
                    <div class="col-lg-8">
                        <h3>Exploration of data: Correlation table heatmap</h3>

                      <p class="lead">First, we created a correlation table to see how different features correlated with Churn of customer. In the meat map, we can observe that there are very less coliniearity between the features</p>                        <p class="lead">In the correlation plot, all the features have similar range of correlation. and there is no dominent feature in the dataset. So, I plan to take all the features for the modelling </p>
                      
                    <iframe width="900" height="900" title="Correlation Table of Features" src="{{url_for('static', filename='correlation_map_new.html')}}"></iframe>
                      
                    </div>
                  
                    <div class="col-lg-8">
                        <h3>Exploration of data: Distribution</h3>
                        <p class="lead">This plot shows the distribution of the categorical features in the dataset.</p>
                        <iframe width="1000" height="500" title="Scatterplots of features in relation to GDP" src="{{url_for('static', filename='category.html')}}"></iframe> <br><br>
                    </div>
                    <div class="col-lg-8">
                        <h3>Distribution of the Customer Churn</h3>
                        <p class="lead">We can see that, the distribution of the target variable is unstable. We have higher percantage of non-churn customer and just 20% of churn customer to train our model with. This unstability can be improved and resolved by SMOTE or other resampling technique. However, In this modelling phase, we will be working without reshampled dataset.</p>
                        <iframe width="1000" height="550" title="Crucial Features Hetmap" src="{{url_for('static', filename='target.html')}}"></iframe>  
                        <br>
                    </div>
                </div>
            </div>
        </section>
        <!-- Contact section-->
        <section id="contact">
            <div class="container px-4">
                <div class="row gx-4 justify-content-center">
                    <div class="col-lg-8">
                        <h1>Machine Learning</h1>
                      <p class="lead">
                        For the machine learning model, we will be focusing more on improving the <b>recall of the classification model</b>. In this case, If an organization is using our model, the important insight would be detected the customers who are going to be churned even If we detect customers who are not going to be churned. So, We will work on minimizing False Positive and improve the <b>recall</b> of the model
                      </p>
                    </div>
                    <div class="col-lg-8">
                        <h3>Logistic Regression: Explanation</h3>
                        <p class="lead">Before we start coding let us first understand or atleast try to understand the things happening at the back-end of Scikit Learn's Logistic Regression. The aim of this section is to explain the math behind Logistic Regression.
<br><br>
 In theory, a Logistic regression takes input and returns an output of probability, a value between 0 and 1. How does a Logistic Regression do that? With the help of a function called a logistic function or most commonly known as a sigmoid. This sigmoid function is reponsible for predicting or classifying a given input. In this case, logistic regression can help us perform binary classification of a customer using the sigmoid function. While being simple and interpretable, Logistic also performs well for the classification problems.
</p>
                      <h3>About the Sigmoid function:</h3>
<p class="lead">
    <ul> It is a mathematical function having a characteristic that can take any real value and map it to between 0 to 1 shaped like the letter “S”.</ul>
  <ul>The sigmoid function g(z) takes features and weights z as an input and returns a result between 0 and 1.</ul>
  <ul>The output of the sigmoid function is an actual prediction ŷ.</ul>
  <ul>So, if the value of z goes to positive infinity then the predicted value of y will become 1 and if it goes to negative infinity then the predicted value of y will become 0.</ul>
  <ul>And if the outcome of the sigmoid function is more than 0.5 then we classify that label as class 1 or positive class and if it is less than 0.5 then we can classify it to negative class or label as class 0.</ul> 
                      </p>
                        <img src="{{url_for('static', filename='images/log_reg.png')}}" class="page-image" width="700" height="500"/>
                    </div>

                    <div class="col-lg-8">
                      <br><br>
                        <h2>Logistic Regression: Results</h2>
                        <p class="lead">Here we have a confusion matrix with the results of the logistic regression applied on our testing dataset. A confusion matrix for a classification problem tells us the number of correct and incorrect predictions for every class (for example churn or not churn). </p>
                        <iframe width="900" height="700" title="Logistic Regression Confusion Matrix" src="{{url_for('static', filename='lg_cm.html')}}"></iframe>  
                        <p class="lead">The recall came out to be <b>0.61</b> using Logistic Regression tuned using GridSearchCV. Now, we will move on to the Next Model and see If that improves our model.</p>
                    </div>
                    <div class="col-lg-8">
                        <h2>Random Forest Classifier: Explanation</h2>
                        <p class="lead">
Random Forest works in two-phase first is to create the random forest by combining N decision tree, and second is to make predictions for each tree created in the first phase.
                      <ul>
The Working process can be explained in the below steps and diagram:
                      </ul>
<ul>
                          Step-1: Select random K data points from the training set.</ul>
<ul>
                          Step-2: Build the decision trees associated with the selected data points (Subsets).</ul>
<ul>
  Step-3: Choose the number N for decision trees that you want to build.</ul>
<ul>
Step-4: Repeat Step 1 & 2.</ul>
                          
The reason we will be using Random Forest as our model is because of it complexity and power to learn the data. Random Forest is based on the bagging algorithm and uses Ensemble Learning technique. It creates as many trees on the subset of the data and combines the output of all the trees. In this way it reduces overfitting problem in decision trees and also reduces the variance and therefore improves the accuracy. When used efficiently and given proper parameter, a random forest model can perform really well!

                      </p>
                        <img src="{{url_for('static', filename='images/random-forest.png')}}" class="page-image" width="700" height="500"/>
                    </div>
                    <div class="col-lg-8">
                        <h2>Random Forest: Results</h2>
                        <p class="lead">Looking at the confusion matrix below, the neural network performed much better on detecting the churn in the user. </p>
                        <iframe width="900" height="700" title="Random Forest Confusion Matrix" src="{{url_for('static', filename='rfc_cm.html')}}"></iframe>
                        <p class="lead">After applying GridSearch It was able to perform better with the <b>Recall of 0.81</b>.</p>
                    </div>
                    <div class="col-lg-8">
                        <h2>Support Vector Machine: Explanation</h2>
                        <p class="lead">Support Vector Machine is a supervised machine learning algorithm used for both regression and classification problem. However, mostly used for classification.<br><br> Each data item is represented as a point in n-dimensional space (where n is the number of features you have), with the value of each feature being the coordinate value. Then we accomplish classification by locating the hyper-plane that clearly distinguishes the two classes.</p>
                      
                      <p class="lead">
                        <ul class= "lead">
                          - we have three hyper-planes (A, B, and C) and all are segregating the classes well. Now, How can we identify the right hyper-plane?
                      </ul>
                      <ul class= "lead">
                        - Here, maximizing the distances between nearest data point (either class) and hyper-plane will help us to decide the right hyper-plane. This distance is called as Margin.
                      </ul>
                      <ul class= "lead">
                        - We will finalize the middle hyperplane for the seperation
                      </ul>
                      </p>
                        <img src="{{url_for('static', filename='images/SVM_3.png')}}" class="page-image" width="500"/>
                    </div>
                    <div class="col-lg-8">
                        <h2>Support Vector Machine: Results</h2>
                        <p class="lead">Looking at our confusion matrix below, SVM worked really well and <b>Recall</b> came out to be <b>0.85</b> for detecting churn. Out of the three model In the case of Recall for the churn class, we have observed SVM to be the best model.
                     </p>
                        <iframe width="900" height="700"" title="KNN Confusion Matrix" src="{{url_for('static', filename='svm_cm.html')}}"></iframe>  
                                                                                                                                          <h1>Model Evaluation and Comparison</h1>
                                                                                                                                          <p class= "lead"> We will using classification report, ROC and PR curve in this section to compare the machine learning models</p>
                                    <p class="lead"> In the below graph, we can see that Random Forest and SVM perfrom way better than the Logistic Regression and Random Forest Cam out to be best and shows more area under the curve than the other. We can see the same trends in the Precision-Recall Plot.</p>                                                                                                      
                                                                                                                                          <h3> ROC AUC Curve </h3>
                                                                                                                                          <iframe width="500" height="500"" title="KNN Confusion Matrix" src="{{url_for('static', filename='auc_roc1.html')}}"></iframe> 
                    
                      <br><br>
                      <h3> PR AUC Curve </h3>
                                                 <br>                                                                                         <iframe width="500" height="500"" title="KNN Confusion Matrix" src="{{url_for('static', filename='pr1.html')}}"></iframe> 
                                                <br><br></ifr>   
                                                   <h3> Classification Report</h3>  
                                                   <img src="{{url_for('static', filename='Report.png')}}" class="page-image" width="1000" height="200"/>
                                                   <p class= "lead">
                                                   In the above report, we can see different metrics for classification model. In this case, recall is improtant, however, In future, If we need to choose a model for any other case, we can look at the other metrics given above.
                                                   </p>                                                                                                                                                                                                                                      
                        <p class="lead">For more improvement, we can apply <b>Boosting algorithms</b> and <b>Neural Networks</b>. I tested a simple Artificial Neural Network, the recall came out to be similar to models I applied. However, with more tuning we can surely improve the churn detection suing Neural Networks. </p>
                    </div>
                </div>
            </div>
        </section>
        <section class="bg-light" id="Conclusion">
            <div class="container px-4">
                <div class="row gx-4 justify-content-center">
                    <div class="col-lg-8">
                    <h1 id="top-level-heading">Conclusion</h1><br/>
                    </div>
                    <div class="col-lg-8">

                        <p class="lead">In conclusion, focusing more on the recall, SVM clearly performed the best on our dataset for predicting If customer is going to churn or not. In terms of important features, I used all the features s In the above correlation map, I didn't saw any specific feature with high correlation with the target variable or multicollinearity in the data. <br><br> There could be multiple reason of churn in a customer like sqitching to the conpetitor, missing functionality, Poor customer fit, etc. If possible we can explore more and add the data where we could find the reason of the churn and then perform Descriptive Data Analysis for more information and insights about the customers in an organization</ifr></if></p>
                        
                     

                        <h3>So what?</h3>
                            
                        <p class="lead">So what is the significance of our project? Talking about the use-case of this model, every customer driven company deal with churning customer. Moreover, churn in customers can highly impact a business. So, it is very important to understand the reason, the rate of churn. Specially, who and why someone is going to be churn furthermore dealing with the problem and improving the business and retention rate of the company. </p>
                    </div>
                </div>
            </div>
        </section>

        <section style="margin-left: 80px; margin-right: 80px;" id="team">
        <header class="bg-primary text-center py-5 mb-4">
            <div class="container px-4">
              <h1 class="fw-light text-white">Meet the Extraordinary AI Camp Team</h1>
            </div>
          </header>
          
          <!-- Page Content -->
          <div class="container px-4">
            <div class="row">
              <!-- Team Member 1 -->
              <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-0 shadow">
                  <img src="{{url_for('static', filename='images/me.jpg')}}" class="card-img-top" alt="..."> 
                  <div class="card-body text-center">
                    <h5 class="card-title mb-0">Keshav Likhar</h5>
                    <div class="card-text text-black-50">AI Camp: Data Science Intern</div>
                  </div>
                </div>
              </div>
              <!-- Team Member 2 -->
<!--               <div class="col-xl-3 col-md-6 mb-4"> -->
<!--                 <div class="card border-0 shadow"> -->
<!--                   <img src="{{url_for('static', filename='images/alex_duffy_img.png')}}" height="330" class="card-img-top" alt="..."> -->
<!--                   <div class="card-body text-center"> -->
<!--                     <h5 class="card-title mb-0">Alex Duffy</h5> -->
<!--                     <div class="card-text text-black-50">Instructor</div> -->
<!--                   </div> -->
<!--                 </div> -->
<!--               </div> -->
              <!-- Team Member 3 -->
<!--               <div class="col-xl-3 col-md-6 mb-4"> -->
<!--                 <div class="card border-0 shadow"> -->
<!--                   <img src="{{url_for('static', filename='images/mitchell_img.png')}}" height="350" class="card-img-top" alt="..."> -->
<!--                   <div class="card-body text-center"> -->
<!--                     <h5 class="card-title mb-0">Mitchell Cutts</h5> -->
<!--                     <div class="card-text text-black-50">Instructor</div> -->
<!--                   </div> -->
<!--                 </div> -->
<!--               </div> -->
<!--               <!-- Team Member 4 -->
<!--               <div class="col-xl-3 col-md-6 mb-4"> -->
<!--                 <div class="card border-0 shadow"> -->
<!--                   <img src="{{url_for('static', filename='images/cameron_jackson_img.jfif')}}" height="250" class="card-img-top" alt="..."> -->
<!--                   <div class="card-body text-center"> -->
<!--                     <h5 class="card-title mb-0">Cameron Jackson</h5> -->
<!--                     <div class="card-text text-black-50">Data Scientist</div> -->
<!--                   </div> -->
<!--                 </div> -->
<!--               </div> -->
<!--             </div> -->
            <!-- /.row -->
          
          </div>
        </section>
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container px-4"><p class="m-0 text-center text-white">Copyright &copy; AI Camp 2022</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="/static/js/scripts.js"></script>
    </body>
</html>
2>